/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.border{
    border: 4px solid yellow;
}

.lime{
    color: lime;
}
.blue{
    color: rgb(0, 208, 255);
}
.gray{
    color: gray;
}



/* *** MAIN *** */

main{
    height: calc( 100vh - 50px);
    background-color: black;
}

main .colum{
    width: 5%;
    height: 100%;
}

main .central{
    width: 95%;
    height: 100%;

    padding: 20px 0 40px;
    flex-wrap: wrap;
}

main .central .box{
    width: calc( 100% / 5 - 10px );
    margin: 5px;
    background-color: chocolate;
    align-items: end;
    background-image: url('../img/116875.jpg');
    background-size: cover;
}
#gengar{
    background-image: url('../img/119152.jpg');
}
#lava{
    background-image: url('../img/265693.png');
}
#lava{
    background-image: url('../img/265693.png');
}
#key{
    background-image: url('../img/332764.jpg');
}
#kiojin{
    background-image: url('../img/403477.jpg');
}
#dbz{
    background-image: url('../img/564835.jpg');
}
#kirito{
    background-image: url('../img/632048.jpg');
}
#shigatsu{
    background-image: url('../img/666808.jpg');
}

main .central .box .name{
    display: inline-block;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.4);
}

main .colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main .colum i{
    font-size: 50px;
}


/* *** FOOTER *** */

footer{
    height: 50px;
    background-color: #2f2e2e;
    justify-content: space-between;
}

footer nav{
    height: 100%;
}

footer nav{
    align-items: center;
    justify-content: center;
}

footer nav .long{
    width: 20%;
}

footer nav .btn,
footer nav .apertura{
    margin: 0 10px;
    justify-content: center;
}


footer nav .item{
    flex-direction: column;
    align-items: center;
}

footer nav .item i{
    font-size: 25px;
}

footer nav .apertura{
    align-items: center;
}

#par-num{
    position: absolute;
    top: 0;
    right: 40px;
}

footer .nav-left{
    width: 16%;  
}

footer .nav-midle{
    width: 60%;
}
footer .nav-right{
    width: 10%;
}


footer .nav-right .layover{
    width: 100%;
    height: 100%;
    background-color: rgba(92, 91, 91, 0.7);
    color: red;
    justify-content: center;
    align-items: center;
}

/* *** DEBUG *** */




